:root {
    --bg: #162f2c;
    --fg: #fff;
    --link: #ffffffaa;
    font-family: "Century Gothic";
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: "Century Gothic";
}

.text-white {
    color: var(--fg);
}

/* BOTTONS */
.btn{
    color: var(--fg)
}

/* MORE */
.more-btn{
    background: none;
    border: none;
    border-bottom: 1px solid var(--fg);
    color: var(--fg);
    font-size: 1rem;
    padding: 0;
}
.more-btn-withoutunderline {
    border-bottom: none;

}
.more-btn-secondary{
    background: none;
    border: none;
    border-bottom: 1px solid var(--fg);
    color: var(--link);
    font-size: 1rem;
    padding: 0;
}
.more-collapse {
    margin-top: 8px;
}

.more-p {
    /* border-bottom: 1px solid var(--fg); */
}
.more-expanded-divider {
    border-bottom: 1px solid var(--fg);
}
.details-redir {
    margin: 2rem 0;
    color: var(--link);
    text-decoration: none;
}

.divider-bottom {
    border-bottom: 1px solid var(--fg);
    line-height: 150%;
    padding: 10px 0;
}
.divider-bottom-last{
    line-height: 150%;
    padding: 10px 0;
}   
.certs h6 {

    margin-bottom: 20px;
}
  
/* ICONS */

.section {
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
    text-align: center;
    position: relative;
    overflow: hidden; /* Ensure no overflow */
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1; /* Ensure the background is behind the content */
}

#section1 .background-image {
    background-image: url('static/20240806_225956.jpg');
}
#section1 {
    padding: 30vh 0 20vh 0;
}

#section2 .background-image {
    background-image: url('static/20240806_230537.jpg');
}

#section3 .background-image {
    background-image: url('static/20240806_225956.jpg');
}
#section3 {
    padding: 20vh 0 ;
}

#section4 .background-image {
    background-image: url('static/20240806_230638.jpg');
}


/* OFF CANVAS NAV  */
.navbar-toggler {
    border: none;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.btn-close:focus {
    box-shadow: none;
}
.navbar-toggler-icon {
    background-image: none;
}
.navbar-toggler .bi-three-dots {
    font-size: 24px;
    color: #333;
}

.navbar-brand {
    color: #fff;
}

.offcanvas {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card {
    width: 80%; /* Adjusted width to 80% */
    max-width: 600px;
    margin: 25px auto;
    padding: 25px 0;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative; /* Ensure the card is positioned relative to its container */
    z-index: 1; /* Ensure the card is above the background image */
}

.card-body {
    padding: 20px;
}

.container {
    position: relative; /* Ensure the container is positioned relative to its section */
    z-index: 1; /* Ensure the container is above the background image */
}
.list-group{
    background: none;
}